@using Umbraco.Web
@inherits UmbracoTemplatePage

<!DOCTYPE html>
<html>
<head>
    <title>Pascal Andersson | @Umbraco.Field("pageName")</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
