<div class="footer__container">
    <div class="row">
        <div class="col-lg-4">
            <p>Test</p>
            <p>Test</p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon-arrow-right"></span>
            <span class="glyphicon-arrow-right"></span>
            <span class="glyphicon-arrow-right"></span>
        </div>
        <div class="col-lg-4">
            <input class="input-lg"type="text" />
            <input class="input-lg" type="text" />
            <input class="input-lg" type="text" />
            <input class="input-lg" type="button" />
        </div>
    </div>
</div>
