<nav class="navbar navbar">
    <div class="container-fluid navbar__container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-item" href="#">Pascal Andersson</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="navbar-item">Page 1</a></li>
            <li><a href="#" class="navbar-item">Page 2</a></li>
            <li><a href="#" class="navbar-item">Page 3</a></li>
        </ul>
    </div>
</nav>