<div id="navbarSideNav" class="sidenav">
    <ul class="navbar-items">
        <li class="navbar-item"><a href="#">About</a></li>
        <li class="navbar-item"><a href="#">Projects</a></li>
        <li class="navbar-item"><a href="#">Contact</a></li>
    </ul>
</div>

<div class="navbar__container">
    <div class="navbar-column__wrapper">
        <div class="navbar-column left">
            <p class="navbar-item">Pascal Andersson</p>
        </div>
        <div class="navbar-column right">
            <span class="navbar-item right" id="sideNavBtn"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</div>
