<nav class="navbar__container">
    <div class="navbar-column__wrapper">
        <div class="navbar-column left">
            <p class="navbar-item">Pascal Andersson</p>
        </div>
        <div class="navbar-column right">
            <span class="navbar-item right"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</nav>