<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT SkillsListItem ANY>
<!ATTLIST SkillsListItem id ID #REQUIRED>
<!ELEMENT SkillsList ANY>
<!ATTLIST SkillsList id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1053" key="c0d506ff-121f-41ae-8a9f-4deb28b9f5a7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-17T14:00:16" updateDate="2018-09-19T13:23:39" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Pascal Andersson" writerName="Pascal Andersson" writerID="0" template="1051" nodeTypeAlias="home" isPublished="true">
    <heroImage><![CDATA[umb://media/044f62b4792147d7b2cb998709c29a34]]></heroImage>
    <heroTitle><![CDATA[Hello, there visitor!]]></heroTitle>
    <heroIntroText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non malesuada orci. Nam metus quam, hendrerit et facilisis vitae, convallis vitae nunc. Sed rutrum,]]></heroIntroText>
    <profileImage><![CDATA[umb://media/a3708aecb73545879f79ded287921827]]></profileImage>
    <SkillsList id="5071" key="aec7ded2-09a6-4037-9ce4-9229b19f216f" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2018-09-24T17:30:39" updateDate="2018-09-25T14:28:40" nodeName="Skills" urlName="skills" path="-1,1053,5071" isDoc="" nodeType="5065" creatorName="Pascal Andersson" writerName="Pascal Andersson" writerID="0" template="0" nodeTypeAlias="SkillsList" isPublished="true">
      <SkillsListItem id="5072" key="2bdf1907-b4b0-41e4-9c03-cf8f26dea6be" parentID="5071" level="3" creatorID="0" sortOrder="0" createDate="2018-09-24T17:31:07" updateDate="2018-09-24T17:31:12" nodeName="ASP.NET" urlName="aspnet" path="-1,1053,5071,5072" isDoc="" nodeType="5064" creatorName="Pascal Andersson" writerName="Pascal Andersson" writerID="0" template="0" nodeTypeAlias="SkillsListItem" isPublished="true">
        <description><![CDATA[a short description]]></description>
        <image><![CDATA[umb://media/bf2f0c25a3e643aa8dfd905a7ed50e54]]></image>
      </SkillsListItem>
      <SkillsListItem id="6056" key="608b4d17-d229-4b66-ae50-772102381fad" parentID="5071" level="3" creatorID="0" sortOrder="1" createDate="2018-09-24T18:06:34" updateDate="2018-09-24T18:06:34" nodeName="Entity Framework" urlName="entity-framework" path="-1,1053,5071,6056" isDoc="" nodeType="5064" creatorName="Pascal Andersson" writerName="Pascal Andersson" writerID="0" template="0" nodeTypeAlias="SkillsListItem" isPublished="true">
        <description><![CDATA[short description about databases.]]></description>
        <image><![CDATA[umb://media/59783ba553774634b817a0cf70e9015b]]></image>
      </SkillsListItem>
      <SkillsListItem id="6057" key="06e6c716-958e-4b13-b1a0-64e9d66ed662" parentID="5071" level="3" creatorID="0" sortOrder="2" createDate="2018-09-24T18:07:40" updateDate="2018-09-24T18:07:40" nodeName="Web APIs" urlName="web-apis" path="-1,1053,5071,6057" isDoc="" nodeType="5064" creatorName="Pascal Andersson" writerName="Pascal Andersson" writerID="0" template="0" nodeTypeAlias="SkillsListItem" isPublished="true">
        <description><![CDATA[short description about building APIs in .NET Core.]]></description>
        <image><![CDATA[umb://media/b4ccbcd75fc340db90162d8945a75507]]></image>
      </SkillsListItem>
    </SkillsList>
  </home>
</root>