.navbar__container {
    position: fixed;
    width: 100%;
    position: fixed;
    z-index: 999;
    color: white;
    transition: 0.25s ease-in-out;
}

.scrolled-down {
    background-color: rgba(0,0,0,0.4);
}

.navbar-column {
    width: 50%;
}

.navbar-item {
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    list-style-type: none;
}

    .navbar-item:hover {
        cursor: pointer;
    }

.left {
    float: left;
    padding-left: 50px;
}

.right {
    float: right;
    padding-right: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    /*top: 0;*/
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidenav .navbar-items {
        padding: 60px 30px 30px 30px;
    }

    .sidenav .navbar-item {
        border-bottom: 1px solid white;
    }

    .navbar-item a{
        color: white;
    }

.active {
    width: 400px;
}
