
.skills-item__wrapper {
    width: 80%;
    margin: auto;
}

.skills-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.skills-item-image{
    display: block;
    margin: auto;
    height: 200px;
}

.skills-item-text__wrapper {
    margin-top: 30px;
    text-align: center;
}

.skills-title {
    word-break: break-word;
    font-size: 35px;
}

.skills-description{
    word-break: break-word;
}
