@inherits UmbracoViewPage<Pascalandersson.com.Models.ViewModels.HomeViewModel>

<div class="hero" style="background-image: url('../../Static/Assets/stockholm.jpg')">
</div>

<h1>@Model.HeroImageUrl</h1>